{% extends 'base.html.twig' %}

{% block title %}Liste des joueurs
{% endblock %}

{% block body %}
	<body>
		<h1>Liste des joueurs</h1>
		<table border="1">
			<tr>
				<th>ID</th>
				<th>Nom</th>
			</tr>
			{% for player in players %}
				<tr>
					<td>{{ player.id }}</td>
					<td>{{ player.name }}</td>
				</tr>
			{% endfor %}
		</table>
	</body>
{% endblock %}
