{% extends 'base.html.twig' %}

{% block title %}Mettre à jour une catégorie{% endblock %}

{% block body %}

	<h1>Mettre à jour une catégorie</h1>

	{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit">Mettre à jour</button>
	{{ form_end(form) }}

{% endblock %}
